.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local
# .env
.env.production
.env.development
.env.staging
.env.test

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Firebase
/.firebase
firebase-debug.log

# temp
dump.rdb

# Yarn Integrity file
.yarn-integrity

#jshit config 
.jshintrc
