// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

#app {
  flex-direction: column;
  height: 100%;
  display: flex;
}

#main_container {
  flex: 1;
}
