/**
 * Basic typography style for copy text
 */

.fs-xl {
  font-size: $fs-xl !important;
}

.fs-lg {
  font-size: $fs-lg !important;
}

.fs-sm {
  font-size: $fs-sm !important;
}

.fs-xs {
  font-size: $fs-xs !important;
}
